//Reusable CSS objects

.align-center {
  @include align-items(center);
}

.align-end {
  @include align-items(flex-end);
}

.align-self-center {
  align-self: center;
}

.align-self-stretch {
  align-self: stretch;
}

.align-start {
  @include align-items(flex-start);
}

.appearance-none {
  @include appearance(none);
}

.bg-white {
  background-color: white;
}

.bold {
  font-weight: bold;
}

.center-margin {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.color-primary {
  color: $color__primary;

  &:visited {
    color: $color__primary;
  }

  &--bg {
    background-color: $color__primary;
  }
}

.color-secondary {
  color: $color__secondary;

  &:visited {
    color: $color__secondary;
  }

  &--bg {
    background-color: $color__secondary;
  }
}

.color-tertiary {
  color: $color__tertiary;

  &:visited {
    color: $color__tertiary;
  }

  &--bg {
    background-color: $color__tertiary;
  }
}

.color-quaternary {
  color: $color__quaternary;

  &:visited {
    color: $color__quaternary;
  }

  &--bg {
    background-color: $color__quaternary;
  }
}

.color-black {
  color: black;

  &:visited {
    color: black;
  }

  &--bg {
    background-color: black;
  }
}

.color-grey {
  color: $color__grey;

  &:visited {
    color: $color__grey;
  }

  &--bg {
    background-color: $color__grey;
  }

  &--bor {
    border: 1px solid $color__grey;

    &-t {
      border-top: 1px solid $color__grey;
    }

    &-b {
      border-bottom: 1px solid $color__grey;
    }

    &-l {
      border-left: 1px solid $color__grey;
    }

    &-r {
      border-right: 1px solid $color__grey;
    }
  }
}

.color-dark-grey {
  color: $color__grey--dark;

  &--bg {
    background-color: $color__grey--dark;
  }

  &--bor {
    border: 1px solid $color__grey--dark;

    &-t {
      border-top: 1px solid $color__grey--dark;
    }

    &-b {
      border-bottom: 1px solid $color__grey--dark;
    }
  }
}

.color-red {
  color: #c12424;
}

.color-white {
  color: white;

  &:visited {
    color: white;
  }

  &--bg {
    background-color: white;
  }

  &--bor {
    &-l {
      border-left: 1px solid white;
    }

    &-r {
      border-right: 1px solid white;
    }
  }
}

.column {
  @include flex-direction(column);
}

.container-site {
  max-width: $size__site-container;
  margin-left: auto;
  margin-right: auto;
}

.fade-banner--absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  z-index: $z-fade-banner;
}

.flex {
  @include flexbox;
}

.flex-1 {
  @include flex(1);
}

.flex-grow-1 {
  @include flex-grow(1);
}

.flex-shrink-0 {
  @include flex-shrink(0);
}

.flex-wrap {
  @include flex-wrap(wrap);
}

.font-12 {
  font-size: rem(12);
}

.font-13 {
  font-size: rem(13);
}

.font-14 {
  font-size: rem(14);
}

.font-15 {
  font-size: rem(15);
}

.font-16 {
  font-size: rem(16);
}

.font-18 {
  font-size: rem(18);
}

.font-20 {
  font-size: rem(20);
}

.font-22 {
  font-size: rem(22);
}

.font-24 {
  font-size: rem(24);
}

.font- {
  &26 {
    font-size: rem(26);
  }

  &28 {
    font-size: rem(28);
  }
}

.font-header {
  font-size: $font__header;
}

.font-primary {
  font-family: 'Roboto', sans-serif;
}

.font-secondary {
  font-family: 'Verdana', sans-serif;

  &--bold {
    font-weight: bold;
  }
}

.height-100 {
  height: 100%;
}

.hidden {
  visibility: hidden;
}

.horizontal_list__item {
  display: inline-block;

  &:last-child {
    margin-right: 0;
  }
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.italic {
  font-style: italic;
}

.justify-between {
  @include justify-content(space-between);
}

.justify-center {
  @include justify-content(center);
}

.justify-end {
  @include justify-content(flex-end);
}

.list-item {
  display: list-item;
}

.mar {
  &-0 {
    margin: 0;
  }

  &-auto {
    margin: auto;
  }
}

.mar-r {
  &-auto {
    margin-right: auto;
  }

  &-5 {
    margin-right: rem(5);
  }

  &-10 {
    margin-right: rem(10);
  }

  &-15 {
    margin-right: rem(15);
  }

  &-20 {
    margin-right: rem(20);
  }

  &-25 {
    margin-right: rem(25);
  }

  &-35 {
    margin-right: rem(35);
  }
}

.mar-l {
  &-auto {
    margin-left: auto;
  }

  &-5 {
    margin-left: rem(5);
  }

  &-10 {
    margin-left: rem(10);
  }

  &-15 {
    margin-left: rem(15);
  }

  &-20 {
    margin-left: rem(20);
  }

  &-25 {
    margin-left: rem(25);
  }
}

.mar-b {
  &-auto {
    margin-bottom: auto;
  }

  &-5 {
    margin-bottom: rem(5);
  }

  &-7 {
    margin-bottom: rem(7);
  }

  &-10 {
    margin-bottom: rem(10);
  }

  &-15 {
    margin-bottom: rem(15);
  }

  &-20 {
    margin-bottom: rem(20);
  }

  &-25 {
    margin-bottom: rem(25);
  }

  &-30 {
    margin-bottom: rem(30);
  }

  &-35 {
    margin-bottom: rem(35);
  }
}

.mar-t {
  &-auto {
    margin-top: auto;
  }

  &-5 {
    margin-top: rem(5);
  }

  &-8 {
    margin-top: rem(8);
  }

  &-10 {
    margin-top: rem(10);
  }

  &-15 {
    margin-top: rem(15);
  }

  &-20 {
    margin-top: rem(20);
  }

  &-25 {
    margin-top: rem(25);
  }

  &-30 {
    margin-top: rem(30);
  }

  &-35 {
    margin-top: rem(35);
  }
}

.med {
  font-weight: 500;
}

.none {
  display: none;
}

.normal {
  font-weight: normal;
}

.offset-t {
  &-40 {
    margin-top: rem(-40);
  }

  &-60 {
    margin-top: rem(-60);
  }
}

.pad-15 {
  padding: rem(15);
}

.pad-l {
  &-0 {
    padding-left: 0;
  }

  &-5 {
    padding-left: rem(5);
  }

  &-10 {
    padding-left: rem(10);
  }

  &-15 {
    padding-left: rem(15);
  }

  &-20 {
    padding-left: rem(20);
  }

  &-25 {
    padding-left: rem(25);
  }

  &-40 {
    padding-left: rem(40);
  }
}

.pad-r {
  &-0 {
    padding-right: 0;
  }

  &-5 {
    padding-right: rem(5);
  }

  &-10 {
    padding-right: rem(10);
  }

  &-15 {
    padding-right: rem(15);
  }

  &-20 {
    padding-right: rem(20);
  }

  &-25 {
    padding-right: rem(25);
  }
}

.pad-t {
  &-0 {
    padding-top: 0;
  }

  &-5 {
    padding-top: rem(5);
  }

  &-10 {
    padding-top: rem(10);
  }

  &-15 {
    padding-top: rem(15);
  }

  &-20 {
    padding-top: rem(20);
  }

  &-25 {
    padding-top: rem(25);
  }

  &-30 {
    padding-top: rem(30);
  }
}

.pad-b {
  &-0 {
    padding-bottom: 0;
  }

  &-5 {
    padding-bottom: rem(5);
  }

  &-10 {
    padding-bottom: rem(10);
  }

  &-15 {
    padding-bottom: rem(15);
  }

  &-20 {
    padding-bottom: rem(20);
  }
}

.padding-site {
  padding-left: $size__site-padding-mobile;
  padding-right: $size__site-padding-mobile;

  @media screen and (min-width: rem(600)) {
    padding-left: $size__site-padding;
    padding-right: $size__site-padding;
  }
}

.relative {
  position: relative;
}

.right--float {
  float: right;
}

.right--margin {
  margin-left: auto;
}

.rotate--up {
  @include transform(rotate(-180deg));
}

.margin-auto {
  margin: auto;
}

.margin-site {
  margin-left: 5%;
  margin-right: 5%;
}

.mar-t-auto {
  margin-top: auto;
}

.pointer {
  cursor: pointer;
}

.space-between {
  @include justify-content(space-between);
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.underline {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

.width- {
  &50 {
    width: 50%;
  }

  &100 {
    width: 100%;
  }
}

.z {
  &-1 {
    z-index: 1;
  }
}
