/*Typography*/

/*@font-face {
  font-family: "Monotype Corsiva";
  src: url(fonts/MTCORSVA.TTF);
}*/
$main_font: Poppins;

body, button, input, select, textarea {
  color: #455b76;
  font-family: $main_font;
  font-size: 16px;
  line-height: 30px;
}

/* Headings*/

h1, h2, h3, h4, h5, h6 {
  font-family: $main_font;
  font-weight: 400;
}

/*Copy*/

dfn, cite, em, i {
  font-style: italic;
}

address {
  margin: 0;
  font-style: normal;
}

pre {
  background: #eee;
  font-family: $main_font;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 20px;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: $main_font;
  font-size: 14px;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}
