//Colors
$color__grey: #f6f6f6;
$color__dark-grey: #838383;
$color__white: white;
$color__primary: #711923;
$color__highlight: $color__primary;
$color__secondary: #f7e8c9;
$color__tertiary: #52181f;
$color__quaternary: #3e1016;
$color__header: #22343c;
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $color__highlight;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-header-footer: #E5E0CF;
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: black;
$color__link-visited: black;
$color__link-hover: $color__highlight;
$color__text-main: #404040;
$color__border-button: black;
$color__border-button-light: white;
$color__border-button-light-cta: darken($color__border-button-light, 20%);
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

//Structure
$breakpoint__animations: rem(1000);
$breakpoint__mobile-menu: rem(1170);
$breakpoint__dynamic-content: rem(730);
$breakpoint__half-items: rem(850);
$padding__btn: 0.8em 2em 0.9em;
$padding__btn-left: 2em;
$padding__btn-right: 2em;
$padding__btn-top: 0.8em;
$padding__btn-bot: 0.9em;
$size__site-main: 100%;
$size__site-sidebar: 25%;
$size__site-container: rem(1100);
$size__site-padding: 7%;
$size__site-padding-mobile: 7%;

//Z-indices
$z-sticky: 4;
$z-popup: 5;
$z-fade-banner: 6;
$z-popup-form: 20;
$z-site-header: 20;
$z-site-content: 21;

//Font Families
$font__primary: "Poppins", sans-serif;
$font__secondary: "Quattrocento", serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.15;
$font__line-height-pre: 1.6;

//Font Sizes
$font__header: rem(40);
