/*Colors*/
$color__black: #353535;
$color__dark-black: black;
$color__green: green;
$color__white: white;
$color__primary: #e7e4e2;
$color__secondary: #f2f2f2;
$color__tertiary: #c3c1bf;
$color__quaternary: #3e1016;
$color__grey: #eee;
$color__med-grey: #e2e2e2;
$color__dark-grey: $color__tertiary;
$color__highlight: $color__secondary;
$color__light-brown: $color__secondary;
$color__dark-brown: #cab7aa;
$color__header: #22343c;
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-header-footer: #e5e0cf;
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: black;
$color__link-visited: black;
$color__link-hover: $color__highlight;
$color__text-main: #404040;
$color__border-button: black;
$color__border-button-light: white;
$color__border-button-light-cta: darken($color__border-button-light, 20%);
$color__border-abbr: #666;

/*Structure*/
$breakpoint__animations: rem(1000);
$breakpoint__mobile-menu: rem(1055);
$breakpoint__dynamic-content: rem(1000);
$breakpoint__half-items: rem(850);
$padding__btn: .8em 2em .9em;
$padding__btn-left: 2em;
$padding__btn-right: 2em;
$padding__btn-top: .8em;
$padding__btn-bot: .9em;
$size__site-main: 100%;
$size__site-sidebar: 25%;
$size__site-container: rem(1150);
$size__site-padding: 7%;
$size__site-padding-mobile: 7%;
$size__tablet: rem(560);
$size__desktop: $breakpoint__mobile-menu;
$size__medium: 40rem;
$size__large: 64rem;

/*Z-indices*/
$z-sticky: 4;
$z-popup: 5;
$z-fade-banner: 6;
$z-popup-form: 20;
$z-site-header: 20;
$z-site-content: 21;

/*Font Families*/
$font__primary: "Roboto", sans-serif;
$font__secondary: "Monotype Corsiva", serif;
$font__tertiary: "Roboto", sans-serif;
$font__quaternary: "Roboto", sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.15;
$font__line-height-pre: 1.6;
