.btn, input[type="submit"].btn {
  display: inline-block;
  border: none;
  background-color: $color__background-button;
  color: white;
  font-size: rem(15);
  line-height: 1;
  padding: 1em 2em;
  transition: color 0.3s, background-color 0.3s;

  //Prevent text from wrapping when using flex
  @include flex-shrink(0);

  &:visited {
    color: white;
  }

  &:hover {
    border-color: $color__border-button-hover;
    background-color: $color__secondary;
    color: $color__highlight;
  }

  &:active,
  &:focus {
    border-color: $color__border-button-focus;
  }

  &--block {
    display: block;
  }

  &--reversed {
    color: $color__primary;
    background-color: white;

    &:visited {
      color: $color__primary;
    }

    &:hover {
      border-color: $color__border-button-hover;
      background-color: $color__secondary;
      color: $color__highlight;
    }
  }

  &--reversed-border {
    @extend .btn--reversed;

    border: 1px solid $color__primary;
  }

  &--secondary {
    background-color: $color__secondary;

    &:hover {
      background-color: $color__primary;
      color: white;
    }
  }

  &--grey {
    background-color: darken(white, 30%);

    &:hover, &:active,
    &:focus {
      background-color: $color__primary;
      color: white;
    }
  }
}

button {
  padding: 0;
}

input[type="submit"] {
  border: 0;
  padding: px-to(rem, 7) px-to(rem, 20);
  letter-spacing: 0.02em;
  cursor: pointer;
}
