.btn, input[type="submit"].btn {
  display: inline-block;
  border: 1px solid #636363;
  text-align: center;
  color: #636363;
  background-color: transparent;
  font-size: rem(14);
  /*font-family: $font__secondary;*/
  font-weight: 500;
  line-height: 1;
  padding: rem(15) rem(25);
  transition: color .3s, background-color .3s;
  /*Prevent text from wrapping when using flex*/
  @include flex-shrink(0);

  &:visited {
    color: #636363;
  }

  &:hover {
    background-color: #636363;
    color: $color__white;
  }

  &:active, &:focus {
    color: $color__black;
    outline: none;
  }

  &--block {
    display: block;
  }
}

button {
  padding: 0;
}

input[type="submit"] {
  border: 0;
  padding: px-to(rem, 7) px-to(rem, 20);
  letter-spacing: .02em;
  cursor: pointer;
}
