//Uses CF7 plugin
$shift: rem(1100);
$product_padding: rem(30);
$product_content_padding: rem(35);
$two_col: rem(500);

.contact-form {
  //z-index: $z-fade-banner + 1;
  max-width: rem(557);

  &--is-popup {
    // IOS
    margin-bottom: rem(150);

    @media screen and (min-width: $shift) {
      margin-bottom: auto;
    }
  }

  .css-popup__close {
    top: rem(7);
    right: rem(15);

    @media screen and (min-width: $shift) {
      top: rem(-17);
      right: rem(-17);
    }

    padding: 0.6em 0.8em;
  }

  &__header {
    border-bottom: 1px solid darken(white, 7%);
    padding-bottom: rem(15);
    padding-top: rem(25);

    @media screen and (min-width: $shift) {
      padding-bottom: rem(20);
    }

    margin-bottom: rem(24);
  }

  &__description {
    margin-bottom: rem(35);
  }

  .wpcf7-form-control-wrap {
    display: block;
    overflow: hidden;

    @include flex-basis(100%);

    margin-bottom: rem(15);

    &.message, &.return {
      @include flex-basis(100%);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .wpcf7-list-item {
    display: block;
  }

  &__btn[type="button"] {
    padding-left: rem(15);
  }

  &__products-btn {
    width: 100%;
  }

  br {
    display: none;
  }

  &__location, &__datepicker[type="text"] {
    width: 100%;

    @media screen and (min-width: $two_col) {
      width: 48%;
    }
  }

  &__datepicker[type="text"] {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    height: rem(36);

    @include align-self(center);
  }

  &__recaptcha-wrapper {
    padding-left: calc(50% - 152px);
  }

  // Wider contact form with a lower z-index
  $two_col_wide: rem(600);

  &--not-popup {
    max-width: rem(700);
    z-index: 1;

    &__half-field {
      width: 100%;

      @media screen and (min-width: $two_col_wide) {
        width: 49%;
      }
    }
  }

  &--no-pos-change {
    top: 0;
  }

  & textarea {
    display: block;
  }
}

/* === CF7 Fixes === */

.contact-form .wpcf7-list-item.none {
  display: none;
}

div.wpcf7-response-output {
  margin: 0;
  color: $color__black;
  background-color: $color__secondary;
  position: relative;
  z-index: $z-fade-banner + 1;
  text-align: right;
  padding-bottom: 0.9375rem;
  padding-top: rem(15);
  padding-right: rem(15);
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border: none;
  border-top: 3px solid $color__primary;
}

div.wpcf7-validation-errors {
  border: none;
  border-top: 3px solid $color__quaternary;
}

.contact-form .wpcf7-form-control-wrap.services {
  margin-bottom: 0;
}

div.wpcf7 .ajax-loader {
  position: absolute;
  right: rem(200);
  bottom: rem(-51);
}
