input[type="text"], input[type="email"], input[type="url"],
input[type="password"], input[type="search"], input[type="number"],
input[type="tel"], input[type="range"], input[type="date"], input[type="month"],
input[type="week"], input[type="time"], input[type="datetime"],
input[type="datetime-local"], input[type="color"], textarea, select,
.input-style, .date-picker {
  color: #0c0c0c;
  background-color: white;
  height: rem(43);
  border: none;
  padding: 4px;
  width: 100%;

  &.btn--has-arrow {
    padding-right: rem(53);
  }

  &.wpcf7-not-valid {
    border: rem(1) solid red;
  }

  &:focus {
    color: $color__text-input-focus;
  }

  &:hover {
    background-color: white;
    color: $color__text-input;
  }
}

input[type="submit"] {
  -webkit-appearance: button;
}

select {
  cursor: pointer;
}
