input[type="text"], input[type="email"], input[type="url"],
input[type="password"], input[type="search"], input[type="number"],
input[type="tel"], input[type="range"], input[type="date"], input[type="month"],
input[type="week"], input[type="time"], input[type="datetime"],
input[type="datetime-local"], input[type="color"], textarea, select,
.input-style, .date-picker {
  color: #000;
  height: 45px;
  padding: 0 21px;
  -webkit-padding-start: 17px;
  width: 100%;
  font-size: 13px;
  border: 1px solid #dedede;
  border-radius: 3px;

  &.wpcf7-not-valid {
    border: 1px solid red;
  }

  &:focus {
    /*color: $color__text-input-focus;*/
  }

  &:hover {
    /*background-color: white;*//*color: $color__text-input;*/
  }
}

select {
  padding: 0;
  text-indent: 9px;
}

textarea {
  min-height: 177px;
}

input[type="submit"] {
  -webkit-appearance: button;
}

select {
  cursor: pointer;
}
