// Separate styling for dynamic post content

.entry-content {
  font-size: px-to(rem, 15);
  line-height: 1.7;

  ul:not([class]), ol:not([class]) {
    padding-left: px-to(em, 40);
    margin: 1em 0;
  }

  li:not([class]) {
    display: list-item;
  }

  a:not([class]) {
    text-decoration: underline;
  }

  p:not([class]) {
    padding-bottom: 1em;
  }

  address:not([class]) {
    margin: 0 0 1.5em;
    font-style: italic;
  }
}

.entry-footer {
  border-top: 1px solid $color__border-input;
  padding-top: rem(15);
  margin-top: rem(15);
}
