@mixin grid() {
  display: -ms-grid;
  display: grid;
}

@mixin grid-template-columns($cols) {
  -ms-grid-columns: $cols;
  grid-template-columns: $cols;
}

@mixin grid-template-rows($rows) {
  -ms-grid-rows: $rows;
  grid-template-rows: $rows;
}
