.copyright {
  padding-top: rem(15);
  padding-bottom: rem(15);
  font-size: rem(13);
  text-align: center;

  @media screen and (min-width: $size__medium) {
    text-align: left;
  }
  
  .dolce-link {
    white-space: nowrap;
  }
}
