$shift: rem(1103);

.sitemap {
  padding-top: 24px;
  padding-bottom: 35px;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.75;
  display: none;
  position: relative;
  z-index: 1;
  background-color: #0c0c0c;
  color: #f5f5f4;

  @media screen and (min-width: $shift) {
    @include flexbox;
    @include flex-wrap(nowrap);
    @include justify-content(flex-start);
    padding-top: 54px;
    padding-bottom: 46px;
  }

  &--mobile {
    display: none;
  }

  &__wrapper {
    position: relative;
  }

  .textwidget {
    max-width: 100%;
  }

  .list {
    @include flexbox;
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 28px;
    display: none;

    &:first-child {
      margin-right: 72px;

      @media screen and (min-width: $shift) {
        display: block;
      }
    }

    &:nth-child(2) {
      width: 210px;
      margin-right: 79px;

      @media screen and (min-width: $shift) {
        display: block;
      }

      .textwidget {
        line-height: 28px;
      }
    }

    &:nth-child(3) {
      width: 150px;
      margin-right: 59px;

      @media screen and (min-width: $shift) {
        display: block;
      }
    }

    &:last-child {
      width: 150px;

      @media screen and (min-width: $shift) {
        display: block;
      }
    }
  }

  &__item-title {
    color: #f5f5f4;
    font-size: 28px;
    font-family: $font__secondary;
    line-height: 1;
    margin-bottom: 24px;
  }
}
