.hero {
  text-align: center;
  padding-top: rem(25);
  padding-bottom: rem(25);

  @media screen and (min-width: $size__tablet) {
    padding-top: rem(178);
    padding-bottom: rem(55);
  }

  &__wrapper {
    @media screen and (min-width: $size__tablet) {
      background-image: url(../../uploads/hero-bg-min.png);
      background-size: cover;
      background-position: center center;
    }
  }

  &__text {
    color: $color__primary;
  }

  &__scroll-text {
    @media screen and (min-width: $size__tablet) {
      color: $color__white;
    }
  }

  & h2 {
    font-size: rem(22);
    margin-bottom: rem(15);

    @media screen and (min-width: $size__tablet) {
      font-size: rem(59);
    }
  }

  & img {
    @include animation-name(flicker);
    @include animation-iteration-count(infinite);
    @include animation-direction(alternate);
    @include animation-duration(1s);
  }
}
