// Generic rules for elements
html, body {
  /* 	width: 100vw;
  	overflow-x: hidden; */
  overflow-x: hidden;
  width: 100%;

  //height: 100%;
}

body {
  width: 100%;
  overflow-x: hidden;

  //letter-spacing: 0.02em;
  background: $color__background-body;

  /* Fallback for when there is no custom background color defined. */
}

blockquote {
  position: relative;
  padding: px-to(rem, 40) 0 px-to(rem, 10);
  line-height: 1.25;

  $map: (1px: 22px, 700px: 28px, 1100px: 36px);

  @include poly-fluid-sizing("font-size", $map);

  max-width: px-to(rem, 1050);
  margin-left: auto;
  margin-right: auto;

  strong {
    font-size: px-to(rem, 26);
    font-family: Playfair_Reg, serif;
    letter-spacing: px-to(rem, 1);
    font-weight: normal;
    line-height: 1.5;
  }

  p:first-child {
    position: relative;
  }

  p:first-child::before {
    content: '';
    display: block;
    width: px-to(rem, 47);
    height: px-to(rem, 37);
    position: absolute;
    top: px-to(rem, -20);
    left: px-to(rem, -22);
    background-image: url(images/left-quote-light-min.png);
    background-repeat: no-repeat;
  }

  //Author
  p:last-child:not(.author) {
    font-weight: bold;
  }
}

hr {
  background-color: $color__background-hr;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

label {
  cursor: pointer;
}

img {
  image-rendering: -webkit-optimize-contrast;

  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;

  //-ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}
