.menu-item {
  text-transform: uppercase;
}

.current-menu-item, .current-menu-ancestor {
  /*  color: $color__highlight;*/

  & > a {
    color: $color__highlight;
  }
}

a {
  color: $color__link;
  color: inherit;

  &:visited {
    /*color: $color__link-visited;*/
    color: inherit;
  }

  &:hover, &:focus, &:active {
    /*color: $color__link-hover;*/
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover, &:active {
    outline: 0;
  }
  text-decoration: none;
}
