.block {
  display: block;
}

.none {
  display: none;
}

.js-none {
  display: none;
}

.nowrap {
  white-space: nowrap;
}

//Append this to the body and html when there is a modal to prevent body scrolling

.scroll-blocker {
  height: 100%;
  overflow-y: hidden;
}

.fa {
  transition: transform 0.15s;
  transform: scale(1);

  &:hover {
    transform: scale(1.1);
  }
}

.post-edit-link {
  margin-top: rem(15);
  margin-left: rem(15);
  display: block;
}
