.owl-carousel {
  position: relative;
}

.owl-prev {
  position: absolute;
  left: 0;
  top: 45%;

  @include transform(translate(0%, -50%));

  &.disabled {
    display: none;
  }
}

.owl-next {
  position: absolute;
  right: 0;
  top: 45%;

  @include transform(translate(0%, -50%));

  &.disabled {
    display: none;
  }
}

