$default_pagination_colour: black;
$shift: rem(450);

.pagination-wrapper {
  @include flexbox;
  @include justify-content(flex-end);
  margin-top: rem(20);
  margin-bottom: rem(25);

  @media screen and (min-width: $shift) {
    margin-top: rem(35);
    margin-bottom: rem(50);

    & .dots {
      margin-right: rem(10);
    }
  }

  .pagination-list {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(center);
    @include align-items(end);
  }

  .prev-text {
    margin-left: rem(5);
    text-transform: uppercase;
    padding-right: rem(15);
    margin-right: rem(3);
    border-right: rem(1) solid $color__med-grey;
  }

  .next-text {
    margin-right: rem(5);
    padding-left: rem(15);
    margin-left: rem(3);
    border-left: rem(1) solid $color__med-grey;
    text-transform: uppercase;
  }
}

.pagination {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  color: $default_pagination_colour;
  margin-top: 12px;
  margin-bottom: 45px;

  @media screen and (min-width: $size__large) {
    margin-top: 26px;
    margin-bottom: 80px;
  }
}

.page-numbers.current, .pagination-wrapper li.current a {
  background-color: #f3f3f3;
  font-size: 16px;
}

.page-numbers, .pagination-wrapper a {
  height: 44px;
  width: 44px;
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  border: 1px solid #e4e4e4;
  color: $default_pagination_colour;
}

.page-numbers.next, .page-numbers.prev {
  border: none;
}
