$shift: rem(450);

.pagination-wrapper {
  @include flexbox;
  @include justify-content(flex-end);
  margin-top: rem(20);
  margin-bottom: rem(25);

  @media screen and (min-width: $shift) {
    margin-top: rem(35);
    margin-bottom: rem(50);

    & .dots {
      margin-right: rem(10);
    }
  }

  .prev-text {
    margin-left: rem(5);
    text-transform: uppercase;
    padding-right: rem(15);
    margin-right: rem(3);
    border-right: rem(1) solid $color__med-grey;
  }

  .next-text {
    margin-right: rem(5);
    padding-left: rem(15);
    margin-left: rem(3);
    border-left: rem(1) solid $color__med-grey;
    text-transform: uppercase;
  }
}

.pagination {
  @include flexbox;
  @include align-items(center);

  .fa-caret-left {
    margin-right: rem(5);
  }

  .fa-caret-right {
    margin-left: rem(5);
  }
}

.page-numbers.current, .pagination-wrapper li.current a {
  color: $color__black;
  font-weight: 700;
}

.page-numbers, .pagination-wrapper a {
  color: $color__med-grey;
  padding-left: rem(3);
  padding-right: rem(3);
  margin-right: 10px;
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
}
