.header-mobile {
  padding-top: rem(15);
  padding-bottom: rem(15);

  @media screen and (min-width: $breakpoint__mobile-menu) {
    display: none;
  }
  
  &__wrapper {
    @media screen and (min-width: $breakpoint__mobile-menu) {
      display: none;
    }
  }

  &__icon.fa {
    font-size: rem(27);
  }

  &__logo {}
}
