.header-mobile {
  padding-top: rem(15);
  padding-bottom: rem(15);
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  width: 100%;

  @media screen and (min-width: $breakpoint__mobile-menu) {
    display: none;
  }

  &__wrapper {
    background-color: rgba(black, .3);

    @media screen and (min-width: $breakpoint__mobile-menu) {
      display: none;
    }
  }

  &__icon {
  }

  &__logo {
    padding-top: rem(23);

    img {
      width: 100%;
    }
  }
}
