.header-mobile {
  background: red;
  padding-top: rem(15);
  padding-bottom: rem(18);

  @media screen and (min-width: $breakpoint__mobile-menu) {
    display: none;
  }

  .menu {
    width: 100%;
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);

    @media screen and (min-width: $breakpoint__mobile-menu) {
      display: none;
    }
  }

  .icon {
  }

  .logo {
  }
}
