$top_bar_pad: rem(10);

.top-bar {
  padding-top: $top_bar_pad;
  padding-bottom: $top_bar_pad;
  @include justify-content(flex-end);
  width: 100%;
  font-size: rem(13);

  &__wrapper {
    background-color: $top_bar_grey;
  }

  &__contact {
    position: relative;
    margin-right: rem(60);

    &::before {
      content: "";
      position: absolute;
      background-color: white;
      top: -$top_bar_pad;
      left: -999rem;
      right: 115%;
      bottom: -$top_bar_pad;
    }
  }

  &__bevel {
    position: absolute;
    top: rem(-71);
    left: rem(-94);
    height: rem(68);
    width: rem(63);
    background: $top_bar_grey;
    border-bottom-right-radius: rem(34);
    @include transform(skewY(58deg));
  }

  &__menu > .menu-item {
    padding: 0 rem(15);
    border-right: 1px solid $color__primary;
    text-transform: initial;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      border-right: 0;
    }
  }

  & .sub-menu::after {
    content: '';
    position: absolute;
    top: -13px;
    height: 13px;
    left: 0;
    right: 0;
  }

  & .menu-item-has-children {
    & .sub-menu {
      top: 162%;
    }
  }
}
